@import 'tailwindcss';
@import './tokens.css';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  color: rgb(var(--fg));
  background: rgb(var(--bg));
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

a {
  color: inherit;
}

:focus-visible {
  outline: 2px solid rgb(var(--fg));
  outline-offset: 2px;
}
